@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

@import "tailwindcss";
@import "./styles/app.css";

@theme {
  --font-sans: "Inter", "Noto Sans JP", system-ui, sans-serif;
  --color-light: #fff;
  --color-primary-300: #ffcc21;
  --color-primary-400: #ff963c;
  --color-primary-500: #ea6c00;
  --color-secondary-300: #8fe9d0;
  --color-primary-300-400: #ffcc21;
  --color-dark-500: #414141;
  --color-dark-600: #2e2e2e;
  --color-gray-400: #777777;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;
  --clip-hex: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: var(--color-gray-400);
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: var(--color-primary-300);
    border-radius: 9999px;
  }
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-weight: 300;
}

.section-scroll-mt {
  scroll-margin-top: calc(64px + 5px);
}
